<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Jogos</h1>
    <p> <a href="{% url 'cadastrar_jogos' %}"></a></p>
   <p>Como vai ser seus jogos?</p>
   {% for  jogos in form_jogo %}
   <p>
    Tipo: {{jogos.tipo}}  
    horário: {{jogos.horário}}
     <a href="{% url 'editar_jogos' jogo.id %}">EDITAR</a>
     <a href="{% url 'remover_jogos' jogo.id %}">REMOVER</a>

   </p>
   {% empty %}
   <p>Não tem jogos cadastrados</p>
   
   {% endfor %}
    
</body>
</html>